<div class="mid">
  <article>
    <h2>Solo se muda dos veces</h2>

    <p>
      <strong>Sólo se muda dos veces</strong> (You Only Move Twice en su idioma original)
      es el segundo episodio de la
    <figure><span><img src="https://64.media.tumblr.com/tumblr_m8kpk42WmG1rwl09fo1_500.gif"
          alt="Hank Scorpio disparando un lanzallamas" class="img" id="hank-scorpio-lanzallamas"></span></figure>octava
    temporada de la serie
    animada Los Simpson, estrenado originalmente el 3 de noviembre de 1996. Fue escrito por John Swartzwelder y dirigido
    por
    Mike B. Anderson. Albert Brooks, en su cuarta aparición como estrella invitada en Los Simpson, personifica a Hank
    Scorpio,
    uno de los personajes más populares aparecidos una sola vez en la serie. El título del episodio es una referencia
    de la película
    de James Bond You Only Live Twice, y muchos de los elementos del episodio parodian las películas de Bond.
    El episodio, basado en una idea de Greg Daniels, tiene tres conceptos mayores: la familia se muda a una nueva
    ciudad; Homer tiene un
    jefe nuevo y moderno; y ese jefe, sin que Homer lo sepa, es un genio diabólico. Bart, Lisa, y Marge tienen cada uno
    una historia
    secundaria. Para hacer el segundo y tercer acto en una nueva ciudad, Cypress Creek, los animadores crearon fondos y
    diseños
    totalmente nuevos. IGN nombró a "Sólo se muda dos veces" el mejor episodio de la octava temporada de la serie.
    </p>

    <div class="list">
      <p>Indice</p>
      <ol>
        <li><a href="soloSeMudaDosVeces#Sinopsis">Sinopsis</a></li>
        <li><a href="soloSeMudaDosVeces#Produccion">Producción</a></li>
        <li><a href="soloSeMudaDosVeces#Recepcion">Recepcion</a></li>
        <li><a href="soloSeMudaDosVeces#Referencias">Referencias culturales</a></li>
      </ol>
    </div>
    <section>

      <h3 id="Sinopsis">Sinopsis</h3>
      <p>
        Una empresa, llamada Globex Corporation, le pide a Waylon Smithers trabajar en ella como técnico superior
        nuclear.
        Este rechaza la
        propuesta y por lo tanto van a por la segunda persona que más tiempo lleve en la Planta, Homer. Este acepta el
        empleo, por lo que
        la familia tiene que mudarse a una ciudad exclusiva de los empleados de Globex, Cypress Creek. Tras tener varios
        problemas al
        vender la casa, deciden abandonarla. Cuando llegan a su nuevo hogar, se encuentran con Hank Scorpio (un
        terrorista
        internacional),
        el dueño de Globex Corporation.
        La vida le va bien a Homer, pero al resto no. Bart es popular en su nueva escuela, incluso encuentra un amigo
        parecido a Milhouse,
        pero al no saber leer escritura cursiva y no saber multiplicar y dividir con decimales, es degradado a una clase
        de apoyo. Lisa se
        enamora de la fauna y flora local, pero es alérgica al polen de las plantas. Y Marge no tiene nada que hacer, ya
        que la casa está
        automatizada, por lo que empieza a beber vino.
        La familia le pide a Homer volver a Springfield, pero él se niega a hacerlo. Entonces, le pide consejo a Hank,
        cuyos soldados
        mantienen combates contra los Cascos Azules en su "oficina". Este le dice que se vuelva a Springfield. Al volver
        a
        Springfield, el
        periódico de la casa muestra que un supervillano (Hank Scorpio) conquista la costa este de los EE. UU., y, más
        tarde, encuentran
        en su casa a Otto con su novia. Por último, Homer recibe un telegrama, que comunica que el "Proyecto Arcturus"
        no
        habría tenido
        éxito sin él y Scorpio le regala un equipo de fútbol americano, los Denver Broncos, ante la decepción de Homer
        que
        soñaba con ser
        dueño de los Dallas Cowboys.
      </p>
    </section>
    <section>

      <h3 id="Produccion">Producción</h3>
      <p>
        La idea original del episodio la tuvo Greg Daniels, y los escritores, a partir de ella, planearon tres ideas. En
        la primera, la
        familia Simpson se muda de Springfield, y los hechos harían que el público pensara que se mudarían para siempre.
        Para realizarlo,
        debieron trabajar en la mayor cantidad de personajes que pudieron para dar a entender que la familia realmente
        se
        iba. La segunda
        idea era que Homer conseguía un nuevo trabajo con un jefe moderno y amigable con los empleados, en contraste con
        el Sr. Burns, un
        jefe autoritario del estilo del siglo XIX. La tercera idea era que el nuevo jefe de Homer, a pesar de ser
        simpático y agradable,
        sería un supervillano del estilo de Ernst Stavro Blofeld. Este elemento sería la base del episodio y Homer
        ignoraría la verdadera
        ocupación de su jefe.
        Los escritores decidieron darle su propia historia a cada miembro de la familia. Tanto ellos como los animadores
        debatieron si la
        historia de Marge debería relacionarla con el alcoholismo, ya que algunos opinaban que esto era muy deprimente.
        Originalmente,
        había otra historia cuyo protagonista era el Abuelo, a quien lo dejan en Springfield y recibe llamadas de
        saludos
        previamente
        grabadas. El argumento terminó teniendo cuatro secuencias, las cuales fueron editadas para adecuarlas al tiempo
        del episodio, pero
        cuyas versiones completas están incluidas en la versión en DVD de la octava temporada de la serie.5 "Cypress
        Creek" fue llamada
        "Cavernas de las Esmeraldas" durante gran parte de la producción,pero el nombre fue cambiado porque los
        escritores sintieron que
        "Cypress Creek" asemejaba más a una ciudad del estilo de Silicon Valley.
        Los animadores tuvieron que dibujar fondos completamente nuevos para el episodio. Christian Roman, John Rice, y
        Mike Anderson fueron
        los encargados de la animación.Una idea equivocada común es que Scorpio fue diseñado basándose en Richard
        Branson.El diseño final,
        el cual debió ser revisado varias veces, fue elegido porque los escritores pensaron que era "el hombre loco
        perfecto".
        Los escritores de la serie no debieron preocuparse demasiado con las líneas de Scorpio porque sabían que Brooks
        reescribiría o
        improvisaría las que fueran necesarias. Partes enteras del diálogo de Scorpio, como el discurso de las hamacas,
        fueron ideadas por
        Brooks. Dan Castellaneta dijo que, cuando terminaba de aprender las líneas que debía decir Homer en respuesta a
        lo
        que decía
        Scorpio, descubría que Brooks había cambiado todo completamente.8 Josh Weinstein dijo que la reacción que tiene
        Homer es exactamente
        igual que la que tiene alguien que habla con Albert Brooks.4 En conjunto, sus grabaciones duraron
        aproximadamente
        dos horas de
        diálogo. Ken Keeler dijo que era una actuación increíble para ser escuchada y posteriormente conservó una
        grabación de la sesión.
      </p>
    </section>
    <section>

      <h3 id="Recepcion">Recepcion</h3>
      <p>
        Hank Scorpio es el personaje más popular que haya sido personificado por Albert Brooks en la serie. En 2006,
        Albert Brooks fue
        elegido la mejor estrella invitada de Los Simpson por IGN, quien citó a Scorpio como su mejor papel.9 The
        Phoenix.com compiló su
        propia lista, ubicando a Brooks en el primer lugar.En su libro Planet Simpson: How a Cartoon Masterpiece
        Documented an Era and
        Defined a Generation, el autor Chris Turner dijo que Brooks es el segundo mejor invitado en el programa, luego
        de
        Phil Hartman,
        diciendo que "Brooks hace graciosa la naturaleza paradójicamente satírica de Scorpio". También escribió que la
        línea final de
        Scorpio sella el lugar de Brooks en la historia de Los Simpson.11 La nueva dirección de la familia Simpson,
        Maple
        Systems Road 15201,
        es el nombre de una calle aparecida en la serie favorita de Ken Keeler.
        IGN también nombró al episodio como el mejor de la octava temporada, diciendo que es "un ejemplo maravilloso de
        la
        lenta construcción
        de la comedia... es imposible no ubicar a este episodio en los primeros puestos de cualquier lista de los
        mejores
        episodios de
        Los Simpson de la historia".12 Warren Martyn y Adrian Wood, los autores del libro I Can't Believe It's a Bigger
        and Better Updated
        Unofficial Simpsons Guide, lo describieron como "un episodio estupendo" diciendo que "tiene momentos muy buenos,
        la mayoría de
        ellos incluyendo al odio de Bart, Lisa, y Marge por Cypress Creek. Scorpio es un buen personaje, especialmente
        su
        estilo a lo
        Christopher Walken". También dijeron que la escena del búho y la ardilla, durante el viaje de Lisa al bosque, es
        uno de los mejores
        gags visuales de la historia del programa.
      </p>
    </section>
    <section>
      <div class="list">
        <h3>Referencias culturales</h3>
        <ul id="Referencias">
          <li>La escena final en Globex contiene varias referencias de las películas de <a
              href="https://es.wikipedia.org/wiki/James_Bond">James Bond</a>. El título del episodio y muchas
            referencias
            más son de la película de Bond <a
              href="https://es.wikipedia.org/wiki/S%C3%B3lo_se_vive_dos_veces_(pel%C3%ADcula)">Sólo se vive dos
              veces</a>, y <a href="https://es.wikipedia.org/wiki/Panorama_para_matar">Panorama para matar</a> es
            también parodiada. Homer golpea a un personaje
            (que luego es asesinado) diseñado para recordar a <a href="https://es.wikipedia.org/wiki/Sean_Connery">Sean
              Connery</a> en la escena del láser de la película <a
              href="https://es.wikipedia.org/wiki/Goldfinger_(pel%C3%ADcula)">Goldfinger</a>.
            La Sra. Goodthighs, de la película/parodia de 1967 de James Bond <a
              href="https://es.wikipedia.org/wiki/Casino_Royale_(pel%C3%ADcula_de_1967)">Casino Royale</a> hace una
            aparición en el episodio y puede ser vista
            atacando a un personaje similar al general del <a
              href="https://es.wikipedia.org/wiki/Ej%C3%A9rcito_de_los_Estados_Unidos">Ejército de los Estados
              Unidos</a>, <a href="https://es.wikipedia.org/wiki/Norman_Schwarzkopf">Norman Schwarzkopf</a>.
          </li>
          <li>El cartel en la escuela primaria dice "www.studynet.edu". Weinstein dijo que este <strong>gag</strong> fue
            uno de los más anticuados en la historia
            del programa porque se centró en la idea de que sería estrafalario para una escuela tener su propio sitio
            web en esa época.
          </li>
          <li>La canción del final del episodio, escrita por Ken Keeler, es una parodia de varios temas de Bond. Keeler
            la escribió originalmente
            para que durase tres segundos y sonara como la canción de <strong>Goldfinger</strong>, pero la versión final
            fue más corta y la parte cantada fue
            eliminada. Los escritores querían que la canción fuese cantada por <a
              href="https://es.wikipedia.org/wiki/Shirley_Bassey">Shirley Bassey</a>, quien cantó varias bandas sonoras
            de películas
            de Bond, pero los productores no pudieron conseguir que aceptara.
          </li>
          <li>Homer le dice a Hank Scorpio que su sueño es ser el dueño del equipo de <a
              href="https://es.wikipedia.org/wiki/F%C3%BAtbol_americano">fútbol americano</a> de la <a
              href="https://es.wikipedia.org/wiki/NFL">NFL</a>, los <a
              href="https://es.wikipedia.org/wiki/Dallas_Cowboys">Dallas Cowboys</a>, en aquel
            año <a href="https://es.wikipedia.org/wiki/1996">1996</a> los campeones vigentes del <a
              href="https://es.wikipedia.org/wiki/Super_Bowl">Super Bowl</a> y el equipo que lo había ganado en más
            ocasiones (5) junto a los <a href="https://es.wikipedia.org/wiki/San_Francisco_49ers">San Francisco
              49ers</a>.
            Al final del episodio Scorpio no logra cumplirle el sueño pero le consigue que sea dueño de los <a
              href="https://es.wikipedia.org/wiki/Denver_Broncos">Denver Broncos</a>, esto desilusiona a
            Homer ya que era uno de los peores equipos en ese entonces.
            Curiosamente el año en que se emitió el episodio <a href="https://es.wikipedia.org/wiki/1996">(1996)</a> fue
            el último año en que los <strong>Dallas Cowboys</strong> ganaron el <strong>Super Bowl</strong>, ya que
            hasta la fecha ni siquiera han logrado llegar a la final y han dejado de ser el equipo que lo ganó en más
            ocasiones, siendo
            superados por los <a href="https://es.wikipedia.org/wiki/New_England_Patriots">New England Patriots</a> y
            los <a href="https://es.wikipedia.org/wiki/Pittsburgh_Steelers">Pittsburgh Steelers</a> (ambos 6 veces
            campeones), mientras que los <strong>Denver Broncos</strong>
            (quienes nunca habían ganado un <strong>Super Bowl</strong> hasta ese año) desde entonces han jugado 4
            finales de <strong>Super Bowl</strong>, ganándolo en 3
            ocasiones.
          </li>
        </ul>
      </div>
    </section>
  </article>
</div>