<div class="mid">
  <article>
    <h2>You Only Move Twice</h2>

    <p>
      <strong>You Only Move Twice</strong>
      is the second episode of the
    <figure><span><img src="https://64.media.tumblr.com/tumblr_m8kpk42WmG1rwl09fo1_500.gif"
          alt="Hank Scorpio with flamethrower" class="img"></span></figure>eight
    series season
    animated The Simpsons, originally released on November 3, 1996. It was written by John Swartzwelder and directed
    by
    Mike B. Anderson. Albert Brooks, in his fourth appearance as a guest star on The Simpsons, plays Hank
    scorpion,
    one of the most popular characters appeared only once in the series. The title of the episode is a reference
    of the movie
    from James Bond You Only Live Twice, and many of the episode's elements parody the Bond films.
    The episode, based on an idea by Greg Daniels, has three major concepts: the family moves to a new
    city; Homer has a
    new and modern boss; and that boss, unbeknownst to Homer, is an evil genius. Bart, Lisa, and Marge each have
    a story
    secondary. To make the second and third acts in a new town, Cypress Creek, the animators created backgrounds and
    designs
    totally new. IGN named "Only Moves Twice" the best episode of the series' eighth season.
    </p>

    <div class="list">
      <p>Index</p>
      <ol>
        <li><a href="chapter-2-season-8#Synopsis">Synopsis</a></li>
        <li><a href="chapter-2-season-8#Production">Production</a></li>
        <li><a href="chapter-2-season-8#Reception">Reception</a></li>
        <li><a href="chapter-2-season-8#References">Cultural references</a></li>
      </ol>
    </div>
    <section>

      <h3 id="Synopsis">Synopsis</h3>
      <p>
        A company, called Globex Corporation, asks Waylon Smithers to work for them as a senior technician.
        nuclear.
        This rejects the
        proposal and therefore they go for the second longest person in the Plant, Homer. It accepts the
        employment, so
        the family has to move to a town exclusive to Globex employees, Cypress Creek. After having several
        problems to
        sell the house, they decide to abandon it. When they arrive at their new home, they meet Hank Scorpio (a
        terrorist
        international),
        the owner of Globex Corporation.
        Life is going well for Homer, but not for the rest. Bart is popular at his new school, he even finds a friend
        Milhouse-like
        but not knowing how to read cursive writing and not knowing how to multiply and divide with decimals, he is
        demoted to a
        class
        support. Lisa knows
        falls in love with the local fauna and flora, but she is allergic to plant pollen. And Marge ain't got nothing
        to do, ya
        that the house is
        automated, so she starts drinking wine.
        The family asks Homer to return to Springfield, but he refuses. So he asks Hank for advice,
        whose soldiers
        they fight against the Blue Helmets in his "office". He tells her to go back to Springfield. To come back
        a
        springfield, the
        house newspaper shows a supervillain (Hank Scorpio) conquering the East Coast of the US, and, more
        late, find
        in his house to Otto with his girlfriend. Finally, Homer receives a telegram, which communicates that "Project
        Arcturus"
        No
        I would have had
        success without him and Scorpio gives him a football team, the Denver Broncos, much to Homer's disappointment.
        that
        he dreamed of being
        owner of the Dallas Cowboys.
      </p>
    </section>
    <section>

      <h3 id="Production">Production</h3>
      <p>
        The original idea for the episode was Greg Daniels, and the writers, from it, planned three ideas. In
        the first, the
        Simpson family moves out of Springfield, and the events would make the audience think that they would be moving
        away
        forever.
        To do it,
        they had to work on as many characters as they could to convey that the family really
        I know
        I was going. The second
        The idea was that Homer got a new job with a modern, employee-friendly boss, in contrast to
        Mr. Burns, a
        19th century style authoritarian boss. The third idea was that Homer's new boss, despite being
        friendly and nice,
        it would be a supervillain in the style of Ernst Stavro Blofeld. This element would be the base of the episode
        and Homer
        I would ignore the real one
        occupation of the head of him.
        The writers decided to give each member of the family their own story. Both they and the animators
        They debated whether the
        Marge's story should be related to alcoholism, as some thought this was very depressing.
        Originally,
        there was another story whose protagonist was Grandpa, who is left in Springfield and receives calls from
        Cheers
        previously
        recorded. The plot ended up having four sequences, all of which were edited to fit the time
        of the episode, but
        whose complete versions are included in the DVD version of the eighth season of the series.5 "Cypress
        Creek" was called
        "Caverns of the Emeralds" for much of the production, but the name was changed because the
        writers felt that
        "Cypress Creek" was more like a Silicon Valley-style town.
        The animators had to draw entirely new backgrounds for the episode. Christian Roman, John Rice, and
        Mike Anderson were
        animators. A common misconception is that Scorpio was designed based on Richard
        Branson.The final design,
        which had to be revised several times, was chosen because the writers thought he was "the mad man
        perfect".
        The show's writers shouldn't have worried too much about Scorpio's lines because they knew Brooks
        would rewrite or
        I would improvise as necessary. Entire parts of Scorpio's dialogue, such as the hammocks speech,
        were devised by
        Brooks. Dan Castellaneta said that when he finished learning the lines for Homer to say in response to
        it
        what he said
        Scorpio, discovered that Brooks had completely changed everything.8 Josh Weinstein said that the reaction he has
        Homer is exactly
        just like someone talking to Albert Brooks.4 Altogether, the recordings of him lasted
        about
        two hours of
        dialogue. Ken Keeler said it was an incredible performance to be heard and subsequently kept a
        session recording.
      </p>
    </section>
    <section>

      <h3 id="Reception">Reception</h3>
      <p>
        Hank Scorpio is the most popular character that has been personified by Albert Brooks in the series. In 2006,
        Albert Brooks was
        chosen the best guest star of The Simpsons by IGN, who cited Scorpio as his best role .9 The
        Phoenix.com compiled its
        own list, placing Brooks in first place. In his book Planet Simpson: How a Cartoon Masterpiece
        Documented an Era and
        Defined a Generation, author Chris Turner said that Brooks is the second best guest on the show, then
        of
        Phil Hartmann,
        saying that "Brooks makes funny the paradoxically satirical nature of Scorpio". He also wrote that the
        end line of
        Scorpio seals Brooks' place in Simpsons history.11 The Simpson family's new leadership,
        maple
        Systems Road 15201,
        is the name of a street that appeared in Ken Keeler's favorite series.
        IGN also named the episode the best of the eighth season, calling it "a wonderful example of
        the
        slow build
        of comedy... it is impossible not to place this episode at the top of any list of the
        top
        episodes of
        The Simpsons of history."12 Warren Martyn and Adrian Wood, the authors of the book I Can't Believe It's a Bigger
        and Better Updated
        Unofficial Simpsons Guide, described it as "a great episode" saying that "it has some very good moments,
        most of
        them including Bart, Lisa, and Marge's hatred of Cypress Creek. Scorpio is a good character, especially
        its
        style to it
        Christopher Walken." They also said that the scene with the owl and the squirrel, during Lisa's trip to the
        forest, is
        one of the best
        sight gags from the show's history.
      </p>
    </section>
    <section>
      <div class="list">
        <h3>Cultural references</h3>
        <ul id="References">
          <li>The final scene at Globex contains several references to the films of <a
              href="https://en.wikipedia.org/wiki/James_Bond">James Bond</a>.The title of the episode and many
            references
            more are from the Bond movie <a href="https://en.wikipedia.org/wiki/You_Only_Live_Twice_(film)">you only
              live
              two
              times</a>, and scenery to kill is
            also parodied. Homer hits a character
            (who is later killed) designed to remember Sean
            Connery in the laser scene from the movie Goldfinger.
            Mrs. Goodthighs, from the 1967 James Bond movie/parody Casino Royale makes a
            appearance in the episode and can be seen
            attacking a character similar to the general of the United States Army
            States, Norman Schwarzkopf.
          </li>
          <li>The sign at the elementary school says "www.studynet.edu." Weinstein said that this <strong> gag</strong>
            it
            was
            one of the oldest in history
            of the program because it focused on the idea that it would be quirky for a school to have its own site
            website at that time.
          </li>
          <li>The song at the end of the episode, written by Ken Keeler, is a parody of various Bond themes. Keeler
            originally wrote it
            to last three seconds and sound like the song of <strong>Goldfinger</strong>,but the final version
            was shorter and the sung part was
            deleted. The writers wanted the song to be sung by Shirley Bassey,who sings several Bond movie soundtracks,
            but the producers couldn't get him to agree.
          </li>
          <li>Homer tells Hank Scorpio that his dream is to own the NFL American football team, the Dallas Cowboys, at
            that time.
            year 1996 the defending champions of the Super Bowl and the team that had won it in more
            times (5) with the San Francisco
            49ers.
            At the end of the episode Scorpio fails to make his dream come true but he manages to make him own the
            Denver Broncos,
            this disappoints Scorpio.
            Homer since it was one of the worst teams back then.
            Interestingly the year the episode aired (1996) was
            the last year the Dallas Cowboys won the <strong>Super Bowl</strong>, since
            to date they have not even managed to reach the final and have ceased to be the team that won it in more
            occasions, being
            overtaken by the New England Patriots and
            the Pittsburgh Steelers (both 6 times
            champions), while the <strong>Denver Broncos</strong>
            (who had never won a <strong>Super Bowl</strong> until that year) since then they have played 4
            <strong>Super Bowl</strong> finals, winning it in 3
            occasions.
          </li>
        </ul>
      </div>
    </section>
  </article>
</div>