<h3>Chapters List</h3>
<table class="table text-center">
  <thead>
    <tr>
      <th>Image</th>
      <th>Chapter</th>
      <th>Season</th>
      <th>Premiere</th>
      <th>Screenwriter</th>
      <th>Director</th>
      <th>Gag</th>
      <th>Recent</th>
      <th>Punctuation</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chapter of chapters"
      [ngClass]="{'screenwriter-remark': chapter.screenwriter == 'John Swartzwelder'}">
      <td><img [src]="chapter.image" [alt]="chapter.name" width="120%"></td>
      <td>{{chapter.name}}</td>
      <td>{{chapter.season}}</td>
      <td>{{chapter.premiere}}</td>
      <td>{{chapter.screenwriter}}</td>
      <td>{{chapter.director}}</td>
      <td>{{chapter.gag | lowercase}}</td>
      <td><span class="badge bg-success" *ngIf="chapter.season >= startPointForNewSeasons">Recent</span></td>
      <td width="14%">
        <app-input-integer [(quantity)]="chapter.score" [max]="10" (maxReached)="maxReached($event)">
        </app-input-integer>
      </td>
      <td><button class="btn btn-primary" (click)="addToChapterScores(chapter)">Score</button><button
          class="btn btn-danger" (click)="deleteChapter(chapter.id)">Delete</button></td>
    </tr>
  </tbody>
</table>